node_modules
.idea
*.log
build
build-dll/
build-dll/dependencies.json
build-dll/deps.dll.js
build-dll/deps.dll.js.map
build-dll/deps.json
dll/
dlls/dependencies.json
dlls/deps.dll.js
dlls/deps.dll.js.map
dlls/deps.json
bash.exe.stackdump
