// Colors
$color-sidebar-bg: darken(white, 10%);

// Components
$header-height: 50px;
$sidebar-width: 250px;
$sidebar-min-width: 200px;

// Spaces
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;
$space-xxl: 128px;
