@import 'base';

.component {
  // Empty
  height: 100%;
}

.content {
  display: flex;
  flex-flow: row;
  height: 100%;
}

.innerContent {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-grow: 4;
  padding-top: $space-l;

  overflow: scroll;
}
