@import 'base';

.component {
  // Empty
}

.content {
  display: flex;
  flex-flow: row;
}

.header {
  border-radius: 0;
  margin-bottom: 0;
}

.sidebar {
  position: static;
  left: 0;
  top: $header-height;
  bottom: 0;
  width: $sidebar-width;

  display: flex;
  flex-flow: column;

  padding: $space-m;
  background-color: $color-sidebar-bg;
  overflow: scroll;
}

.innerContent {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-grow: 4;
  padding-top: $space-l;

  overflow: scroll;
}
